.cabecalho{
    background-color: #db1a9b;
color:white ;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px;
}

.CABECALHO-IMAGEM{
    width: 20%;
}

.cabecalho-lista-lista{
display: inline-block;
}